<div class="row">
    <div class="col-md-10 col-lg-offset-1">
      <form  #f="ngForm" (ngSubmit)="onSignup(f)">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" id="password" name="password" ngModel class="form-control">
        </div>
        <button type="submit" class="btn-primary">Sign up</button>
      </form>
    </div>
</div>
